<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog2.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog2.image %>">
            <div class="content">
                <span>
                    <%= blog2.created.toDateString()%>
                </span>
            </div>
            <div class="description">
                <%- blog2.body %>
            </div>
        </div>
    </div>
    <a class="ui orange basic button" href="/blog/<%= blog2._id %>/edit" %>">Edit</a>
    <form id="delete" action="/blog/<%= blog2._id %>?_method=DELETE" method="POST"> 
        <button class="ui red basic button">Delete</button>
    </form>
</div>
<% include partials/footer %>